<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pagination.css"/>
		<script src="../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--公用顶部-->
		<div class="public-top">
			<div class="top-bar layout">
				<div class="logo-bar fl">
					<a href="" class="logo-text fl"> 
						<img src="../img/logo.png" alt="" />
						<p>
							<span class="tet">浙江棋协会员网</span>
							<span class="tit">专注棋类资讯与棋协报名</span>
						</p>						
					</a>					
				</div>
				<div class="list-bar fl">
					<ul>
						<li><a href="">首页</a></li>
						<li><a href="">新闻</a></li>
						<li><a href="">赛事</a></li>
						<li><a href="">报名</a></li>
						<li><a href="">机构</a></li>
						<li><a href="">个人中心</a></li>
					</ul>
				</div>
				<div class="seek-bar fr clearfix">
					<a class="fr" href="#">登录</a>
					<a  class="fr" href="#">注册</a>
				</div>
			</div>
		</div>
		<div>
			<div class="applyDetails layout clearfix">
				<div class="detail-left fl">
					<div class="detail-left-top clearfix">
						<h1 class="fl"><img src="../img/applyDetails.png" alt="" /></h1>
						<div class="fl">
							<h2>2017春季南通市围棋级位赛啦啦啦啦</h2>
							<p><img src="../img/icon/home.png" alt="" /> 南通市围棋协会 <span class="fr">￥200元</span></p>
							<p><img src="../img/icon/position.png" alt="" /> 之源路城北小学 </p>
							<p><img src="../img/icon/clock.png" alt="" /> 2017年4月28日-5月1日 </p>
							<p><img src="../img/icon/tellphone.png" alt="" /> 13901458524 <span class="fr">已报名：56人</span></p>
							<h3><img src="../img/collect.png" alt="" />收藏赛事 <button id="apply" class="fr">立即报名</button></h3>
						</div>
					</div>
					<div class="detail-left-bottom">
						<h3>2017年春季南通市围棋级位赛规程</h3>
						<h3>一、主办单位：南通市围棋协会</h3>
						<h3>二、承办单位：南通市港闸区北城小学</h3>
						<h3>三、比赛时间：2017年4月29日</h3>
						<h3>四、比赛地点：南通市港闸区致远路北城小学</h3>
						<h3>五、比赛对象：南通及周边地区的围棋爱好者均可参赛</h3>
						<h3>六、比赛办法：1、采用国家审定的最新围棋竞赛规则。2、按参赛棋手级位分组比赛，各组均采用五轮积分编排，按参赛人数比例定级、升级。</h3>
						<h3>七、定级、升级比例规定：按成绩和人数比例定级、升级</h3>
						<p>（1）定级组            晋升比例：   参赛人数的80%</p>
						<p>（2）10—15级组        晋升比例：   参赛人数的70%</p>
						<p>（3）6—9级组          晋升比例：   参赛人数的60%</p>
						<p>（3）6—9级组          晋升比例：   参赛人数的60%</p>
						<h3>八、报名办法</h3>
						<p>1、按参赛棋手现有围棋级位报名（以证书为据），证书的复印件报到时交大会竞赛组，无等级者参加定级组比赛。</p>
						<p>2、报名时间 从即日起至2017年4月25日止，逾期无法办理。本次比赛全部采用网络自助报名。请登录至云比赛网(www.yunbisai.com), 注册为该网用户或者用主办方提供的公共帐户登录后，找到相应的比赛赛事，
							依据赛事中的分组，在组别上点击“我要报名”，输入姓名、身份证号等相关信息后，通过支付宝、微信付报名费、保险费、代订午餐费即可。输入单位名称时，可勾选列表中相应单位（以拼音为序），无单位者，可勾选“个人”。
						</p>
						<h3>九、裁判人员：由主办单位聘任裁判长和裁判人员，参赛人数多的报名单位可推荐一名裁判，赛会发给工作补贴（其它费用自理）。</h3>
						<h3>十、收费及报到：</h3>
						<p>1、所有参赛棋手报名费120元，另交保险费10元，共130元，如需代订午餐，另行缴纳20元。</p>
						<p>2、参赛棋手请于2017年4月29日上午8:00准时到达比赛地点，报到同时领取参赛证，在指定地点检录后统一进入赛场。</p>
						<h3>十一、重要说明：</h3>
						<p>1、从本次比赛起，由南通市围棋协会主办的围棋级位赛，将启用新的围棋级位证书。所有在本次比赛中定级、晋级的棋手，均可领取新的围棋级位证书，证书费20元。</p>
						<p>2、后续级位比赛中，赛会将设立级位查验组，对持低级位证书报名参加高级位组比赛者，予以纠正。</p>
						<p>3、证书办理：比赛结束后，赛会设专人，分组办理证书申领手续。除缴纳证书费外，还须上交一寸照片一张，背面注明姓名及级位。</p>
						<p>4、从2017年起，南通市围棋协会颁发的围棋段级位证书，均可在南通市围棋协会网站上进行查询。</p>
						<p>5、原有级位证书可继续延用至棋手级位结束。</p>
						<h3>十二、本规程解释权归主办单位。未尽事宜，另行通知。  </h3>
						<h3>级位组比赛补充规程</h3>
						<h3>一、比赛地点：</h3>
						<p>为方便广大参赛家长交通，比赛地点确定为南通市港闸区致远路北城小学。报到时须从致远路北门进入，进入校区后，直接到食堂进行检录报到。</p>
						<h3>二、关于分组：</h3>
						<p>为方便网络自助报名，本次比赛采用各级别大组报名，报名结束后再根据总人数与赛场教室容量进行分组。比赛报名日截止后两个工作日内，在云比赛网及协会网站发布每个选手的所在组别，并保持与参赛证一致。分组原则与办法如下：</p>
						<p>1、按照网站报名顺序对报名人员进行编号，根据各段级位组别报名总人数，依照每个教室容纳40人为一小组的原则进行分组比赛，如有余数，将编号在后人员均衡分配至各组。</p>
						<p>2、以定段组为例，如本组共报名125人，按照教室容量，须分三组比赛，分组办法如下：</p>
						<p>A、在前123人中，由计算机程序自动抽取编号为3的倍数的人员，编为一组；</p>
						<p>B、再将余下人员按单双号进行分组。</p>
						<p>3、如人数更多，须分成4组比赛，按上述办法，先将编号为4的倍数人员分为一组，然后将编号为3的倍数的人员分为一组，余下人员按单双号分成两组。</p>
						<p>4、如某组人数有200人左右，须分成5组比赛，先将编号为5的倍数的人员编为第一组，再将编号为4的倍数的人员编为第二组，再将编号为3的倍数的人员编为第三组，最后将余下人员，按单双号分组。</p>
						<p>5、各组如有手工调整，以调整后报名人员，即编号在后选手为原则。</p>
						<h3>三、关于用时：</h3>
						<p>组委会在本规程中公布比赛起始时间，以一个半天为一个时间单元，具体每轮比赛开始时间，由值场裁判决定。参赛人员在各轮间隙中，不得擅自离开赛场，如因离开赛场发生迟到判负者，责任自负。</p>
						<h3>四、关于纠纷申诉：</h3>
						<p>1、由提出申诉者家长或本人向裁判组交申诉费100元，如申诉成功，予以退还，否则不予退还。</p>
						<p>2、由家长或指导老师将选手引领至裁判长处后，家长及指导老师必须离开现场，予以回避。</p>
						<p>3、裁判长召集双方选手、值场裁判、教室管理员进行情况调查，按照竞赛规则作出裁决，并通知家长或指导老师。</p>
						<h3>附：比赛日程</h3>
						<p>4月29日</p>
						<p>8：00-8：30报到检录入场</p>
						<p>8：45-11：30 第1-3轮比赛</p>
						<p>13：00-17：30 第4-7轮比赛</p>
						<p class="clearfix"><span class="fr">南通市围棋协会&nbsp;&nbsp;2017年4月</span></p>
					</div>
				</div>
				<div class="detail-right fl">
					<div class="detail-right-top">
						<h1><img src="../img/chess.png" alt="" /></h1>
						<h4>南通市围棋协会</h4>
						<p><span>赛事<br /><br />3</span><span>动态<br /><br />0</span><span>会员<br /><br />50</span></p>
					</div>
					<div class="detail-right-bottom">
						<div class="">
							<div class="title">
								热门报名 
								<a class="fr" href="#">更多&gt;&gt;</a>
							</div>
							<ul>
								<li><a href="#">"山海杯"2017年中小学生级位赛</a></li>
								<li><a href="#">"山海杯"2017年中小学生级位赛</a></li>
								<li><a href="#">"山海杯"2017年中小学生级位赛</a></li>
								<li><a href="#">"山海杯"2017年中小学生级位赛</a></li>
								<li><a href="#">"山海杯"2017年中小学生级位赛</a></li>
							</ul>
						</div>
						<div class="">
							<div class="title">
								精彩瞬间
								<a class="fr" href="#">更多&gt;&gt;</a>
							</div>
							<dl>
								<dt><img src="../img/splendid.png" alt="" /></dt>
								<dd>2017年浙江省小学生国际象棋大赛</dd>
							</dl>
							<dl>
								<dt><img src="../img/splendid.png" alt="" /></dt>
								<dd>2017年浙江省小学生国际象棋大赛</dd>
							</dl>
							<dl>
								<dt><img src="../img/splendid.png" alt="" /></dt>
								<dd>2017年浙江省小学生国际象棋大赛</dd>
							</dl>
							<dl>
								<dt><img src="../img/splendid.png" alt="" /></dt>
								<dd>2017年浙江省小学生国际象棋大赛</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--公用底部-->
		<div class="footer-bar">
			<div class="footer layout">
				<dl class="footer-list fl">
					<dt>登录注册</dt>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
				</dl>
				<dl class="footer-list fl">
					<dt>登录注册</dt>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
				</dl>
				<dl class="footer-list fl">
					<dt>登录注册</dt>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
				</dl>
				<dl class="footer-list fl">
					<dt>登录注册</dt>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
					<dd><a href="">手机号码注册过怎么办</a></dd>
				</dl>
			</div>
			<div class="location">
				<div class="layout">
					<ul class="cari">
						<li>意见反馈 939798193@qq.com</li>
						<li>Copyright 2015-2020 @ www.ieapo.com</li>
						<li>备案号：浙ICP备11780所有：杭州奕跑网络科技有限公司</li>
					</ul>
				</div>
			</div>
		</div>
		<!--报名弹出框-->
		<div id="applyBox" style="display: none;">
			<!doctype html>
			<h1>浙江棋协会员网</h1>
			<p><b></b><span>报名</span><b></b></p>
			<select name="">
				<option value="">2017春季南通市围棋级位赛</option>
			</select>
			<select name="" >
				<option value="">选择组别</option>
			</select>
			<input type="text" placeholder="手机号" v-model="phone"/>
			<div class="clearfix">
				<input type="text" class="code"  placeholder="请输入验证码" v-model="code"/ >
				<input type="button" id="btn" value="获取手机验证码" onclick="settime(this)" /> 
			</div>
			<input type="text" placeholder="请输入您的身份证号码" v-model="idCard"/>
			<button @click="submit">报名</button>
		</div>
		<!--报名成功-->
		<!--<div id="succeed">
			<p><img src="../img/succeed.png" alt="" />报名成功，请尽快缴费！</p>
			<h3><b></b>支付信息</h3>
			<div>
				<p>缴费金额：<span>￥200</span></p>
				<h4><b><s></s></b><img src="../img/alipay.png" alt="" /></h4>
				<button>用支付宝支付</button>
			</div>
		</div>-->
		<script src="../js/jquery-3.1.1.min.js" ></script>
		<script src="../js/vue.js"></script>
		<script>
			$('#apply').click(function(){
				layer.open({
  					type: 1,
  					title:'',
  					offset:'340px',
   	 				skin: 'layui-layer-rim', //加上边框
					area: '520px',
					scrollbar:false,
  					content:$('#applyBox')
				});
			});
			var countdown=60; 
			function settime(obj) { 
   				if (countdown == 0) { 
        			obj.removeAttribute("disabled");    
        			obj.value="获取手机验证码"; 
        			countdown = 60; 
        			return;
    			} else { 
        			obj.setAttribute("disabled", true); 
        			obj.value=countdown +"后重发送验证码"; 
        			countdown--; 
    			} 
				setTimeout(function() { 
    				settime(obj) }
    			,1000) 
			}
			var vm = new Vue({
				el: '#applyBox',
				data: {
					phone:'',
					idCard:'',
				},
				methods:{
					submit:function(){
						//console.log(this.phone);
						var phone = this.phone;
						var id=this.idCard;
						var idReg=/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
						var phoneReg=/(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/;
						if(idReg.test(id)===false){
							layer.msg('请输入正确的身份证号码')
						}
						if( phoneReg.test(phone)===false){ 
    						layer.msg('请输入正确的手机号码');
    					}
						if(idReg.test(id)&&phoneReg.test(phone)){
							$('#applyBox').html('<div id="succeed"><p><img src="../img/succeed.png" alt="" />报名成功，请尽快缴费！</p><h3><b></b>支付信息</h3><div><p>缴费金额：<span>￥200</span></p><h4><b><s></s></b><img src="../img/alipay.png" alt="" /></h4><button>用支付宝支付</button></div></div>');
						}else{
							
						}
					}	
				}
			});
		</script>
	</body>
		
</html>
